@import url("https://fonts.googleapis.com/css2? family= Oswald:wght@300 & display=swap");
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: rgb(242, 244, 207);
  text-shadow: 5px 10px 20px black;
}

h1:hover {
  color: brown;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: solid black 2px;
}

a {
  text-decoration: none;
  color: bisque;
}

.navegador {
  background-image: linear-gradient(to top, #414345, #8e6392);
}

.colorNav {
  color: bisque;
}

.portada {
  background-image: url(../img/fondo_portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/**seccion*/
.video {
  width: 100%;
  height: 30vh;
}

.articulo {
  width: 100%;
  height: 30vh;
}

.bold {
  font-weight: bold;
  color: rgb(242, 244, 207);
}

/*mapaIndex*/
.mapa {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.border {
  border: solid 1px beige;
}

.iframeMapa {
  width: 95%;
}

/**informacion**/
.boxInf {
  width: 50%;
  margin-left: 25%;
  background-color: rgba(213, 54, 231, 0.2);
}

.boxDiv {
  width: 50%;
  margin: 10px;
}

.flexInf {
  display: flex;
}

.logoRed {
  width: 80px;
  margin: 5%;
}

.mapaInfo {
  width: 100%;
  height: 50vh;
}

.textInf {
  text-align: center;
  background-color: rgb(81, 77, 77);
  color: rgb(224, 71, 150);
  font-size: 15px;
}

.pInfo {
  font-size: 20px;
  margin-left: 20px;
  color: bisque;
  font-family: "Oswald", sans-serif;
}

/**MEDIA*/
/*desktop*/
@media (min-width: 1024px) {
  /**Index*/
  .img {
    width: 80%;
    height: 200px;
    border-radius: 5px;
    border: solid black 2px;
    margin: 3px;
  }
  .fondo {
    background-color: rgb(54, 66, 72);
  }
  /*productos*/
  #producto {
    display: grid;
    grid-template-areas: " titulo titulo" "secundario producto1 " "producto2 producto1";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.1fr 0.2fr 5fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .imgProducto {
    width: 15%;
    height: 25vh;
    margin: 5px;
    border-radius: 10px;
    border: solid black 1px;
  }
  .imgProductoDos {
    width: 60%;
    height: 20vh;
    margin: 1px;
    border: solid black 5px;
    border-radius: 10px;
    border-style: double;
  }
  .parrafo {
    width: 90%;
    color: antiquewhite;
    font-size: 15px;
    font-weight: bolder;
    word-spacing: 10px;
    text-shadow: 0 0 10px black;
  }
}
/**tablet*/
@media (min-width: 481px) and (max-width: 1023px) {
  /*index*/
  .img {
    width: 80%;
    height: 16.7vh;
    border-radius: 5px;
    border: solid black 2px;
    margin: 1px;
  }
  #grid {
    display: grid;
    grid-template-areas: "header header" "lateral articulo" "lateral video" "lateral mapa" " pie pie";
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.5fr 0.1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  /**productos*/
  #producto {
    display: grid;
    grid-template-areas: " titulo titulo" "secundario producto1 " "producto2 producto1";
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
  }
  .imgProducto {
    width: 20%;
    height: 20vh;
    margin: 5px;
    border-radius: 10px;
    border: solid black 1px;
  }
  .imgProductoDos {
    width: 90%;
    height: 20vh;
    margin: 1px;
    border: solid black 5px;
    border-radius: 5px;
    border-style: double;
  }
  .parrafoP {
    font-size: 15px;
    font-weight: bold;
  }
  /**Info*/
  .boxInf {
    width: 80%;
    margin-left: 10%;
    background-color: rgba(165, 42, 42, 0.641);
  }
  .logoRed {
    width: 20%;
    margin-left: 15%;
  }
  .pInfo {
    font-size: 1px;
    margin-left: 20px;
    color: bisque;
    font-family: "Oswald", sans-serif;
  }
}
/**smartphone*/
@media (max-width: 480px) {
  /*index*/
  .img {
    width: 20%;
    height: 10vh;
    border-radius: 5px;
    border: solid black 2px;
    margin: 1px;
  }
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid black 2px;
  }
  /*productos*/
  #producto {
    display: grid;
    grid-template-areas: " titulo titulo" "secundario secundario " "producto2 producto1";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.05fr 0.1fr 3fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }
  .imgProducto {
    width: 20%;
    height: 15vh;
    margin: 5px;
    border-radius: 10px;
    border: solid black 1px;
  }
  .imgProductoDos {
    width: 90%;
    height: 20vh;
    margin: 1px;
    border: solid black 5px;
    border-radius: 5px;
    border-style: double;
  }
  .parrafoP {
    font-size: 15px;
    font-weight: bold;
  }
  /**Info*/
  .boxInf {
    width: 90%;
    margin-left: 10%;
    background-color: rgba(165, 42, 42, 0.641);
  }
  .logoRed {
    width: 20%;
    margin-left: 5%;
  }
  .pInfo {
    font-size: 15px;
    margin-left: 20px;
    color: bisque;
    font-family: "Oswald", sans-serif;
  }
}
/*Areas*/
.tituloPrincipal {
  grid-area: titulo;
}

.tituloSecundario {
  grid-area: secundario;
}

.productoUno {
  grid-area: producto1;
}

.productoDos {
  grid-template-columns: producto2;
}

body {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to top, #0D324D, #7F5A83);
  background-repeat: no-repeat;
}

h3, .texto {
  font-family: "Oswald", sans-serif;
  color: bisque;
  text-align: center;
  text-shadow: 0 0 5px bisque;
  font-size: 20px;
}

.texto {
  font-size: 30px;
}

/*# sourceMappingURL=destino.css.map */
