@import"variables"; 
/**lateral**/
    .img{
        width: 80%;
        height: 200px;
        border-radius: 5px;
        border: solid black 2px;
        margin: 3px;    
    }  


/**seccion*/

.video{
    width: 100%;
    height: 30vh;
}

.articulo{
    width: 100%;
    height: 30vh;

}

.bold{
    font-weight: bold;
    color: $color;
}

/*mapaIndex*/
.mapa{
    width: 100%;
    padding: 5px;
    margin: 5px;
   
}

.border{
    border: solid 1px $color;
}

.iframeMapa{
    width: 95%;
}
