
@import"variables"; 
/*presentacion*/



.imgUno{
    background-image: url(../img/foto.jpg);
    background-size: cover;

}



.p{
    color: black;
    font-weight: 15px;
    text-shadow: 0 0 10px $color;
    padding: 50px;


   height: 80vh;
}

